# --- Dependencies
node_modules/
.npm/
npm-debug.log*

# --- Build Output
# --- (Ignore this if you only want to version source code)
my-lib/
src/
css/stage.css
assets/db_dev.json
externals.json
importmap.json
index-bundle.html
bundle_raw.js
bundle_sub.js

# --- Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# --- IDE / Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# --- Environment / Secrets
.env
.env.local